<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Fuente oficial de NuGet -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Si necesitas DevExpress, descomenta y actualiza con tu feed key -->
    <!-- <add key="DevExpress" value="https://nuget.devexpress.com/{YOUR-FEED-AUTHORIZATION-KEY}/api" /> -->
  </packageSources>
  
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>

